</div>
<footer>
    <p>个人博客系统,请勿用作商业用途</p>
    <p>
    <h6>Copyright © 1996 - 2016 XXX Corporation, All Rights Reserved</h6>
    <h6>XXX公司 版权所有</h6>
    </p>
</footer>
</section>
<script src="/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>